# Configuración del repositorio Restic
export RESTIC_REPOSITORY=""
export RESTIC_PASSWORD=""

# Configuración de conexión remota a PostgreSQL via Tailscale
export DB_HOST=""
export DB_PORT=""
export DB_NAME=""
export DB_USER=""
export PGPASSWORD=""
